body{
    background-image:url("../images/bgImg.png");
}

h1, label {
    backdrop-filter: blur(50px);
    color: azure;
    text-align: center;
}

table {
    background-color: rgba(255, 255, 255, 0); /* Semi-transparent white */
    backdrop-filter: blur(25px); /* Apply the blur effect */
    height: max-content;
    width: 100%;
    color:antiquewhite;
    margin-bottom: 25px;
}

tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.5); /* Light background for odd rows */
    backdrop-filter: blur(50px); /* Apply blur effect to odd rows */
    color:black;
}

tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); /* Slightly darker background for even rows */
}

th, td {
    border: 1px solid antiquewhite; /* Border for cells */
}

th {
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border: 2px dashed black;
}